<footer class="bg-gradient-light py-2 py-xl-3 mt-3 mt-md-4 mt-xl-5">
  <div class="container">
    <p class="text-muted small px-1" style="text-align: right">
      <a href="https://uwaterloo.ca/" target="_blank" rel="noopener noreferrer" alt="University of Waterloo Logo">
        <img src="<%= asset_path('uwaterloo.png') %>" classname="footer-logo" height="32px" style="margin-right: 16px;" />
      </a>
      <a href="https://www.nyu.edu/" target="_blank" rel="noopener noreferrer">
        <img src="<%= asset_path('nyu.png') %>" classname="footer-logo" height="32px" alt="NYU Logo" />
      </a>
    </p>
  </div>
</footer>
