<footer class="bg-gradient-light py-2 py-xl-3 mt-3 mt-md-4 mt-xl-5">
  <div class="container">
    <p class="text-muted small px-1">
      This site uses the
      <a href="https://pages.semanticscholar.org/coronavirus-research" target="_blank" rel="noopener noreferrer">
        COVID-19 Open Research Dataset (CORD-19)
      </a>
      provided by
      <a href="https://www.semanticscholar.org" target="_blank" rel="noopener noreferrer">Semantic Scholar</a>.
      Last updated on March 24th, 2020.
      <br /><br />
      <img src="<%= asset_path('uwaterloo.png') %>" classname="footer-logo" height="32px" style="margin-right: 16px;">
      <img src="<%= asset_path('nyu.png') %>" classname="footer-logo" height="32px">
    </p>
  </div>
</footer>
