<div class="jumbotron text-center">
  <h1 class="jumbotron-heading">ACL Anthology</h1>

  <p class="lead">A Blacklight application for searching the ACL Anthology</p>

  <p>
    <%= link_to 'Read the Documentation', 'https://github.com/projectblacklight/blacklight/wiki', class: 'btn btn-primary' %>
    <%= link_to 'See Examples', 'http://projectblacklight.org', class: 'btn btn-outline-secondary' %>
  </p>
</div>
