
<p>
  The above interface provides basic keyword search and faceted browsing capabilities using the
  <a href="https://pages.semanticscholar.org/coronavirus-research" target="_blank" rel="noopener noreferrer">
    COVID-19 Open Research Dataset (CORD-19)
  </a>
  provided by the
  <a href="https://allenai.org/" target="_blank" rel="noopener noreferrer">Allen Institute for AI</a>.

  Under the covers, the interface is powered by
  <a href="https://projectblacklight.org/" target="_blank" rel="noopener noreferrer">Blacklight</a>,
  <a href="https://lucene.apache.org/solr/" target="_blank" rel="noopener noreferrer">Solr</a>,
  and the <a href="http://anserini.io/" target="_blank" rel="noopener noreferrer">Anserini</a>
  IR toolkit (via Solrini, which is Anserini's Solr adaptor).
</p>

<p>
  Be sure to also check out our
  <a href="https://neural.covidex.ai" target="_blank" rel="noopener noreferrer">Neural Covidex</a>,
  which takes advantage of state-of-the-art neural network models and artificial intelligence (AI) techniques to answer questions!
</p>
