@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap');

$primary: #1857b6;
$secondary: #0f3875;
$success: #F4D35E;
$danger: #f7605f;
$grey: #A5A5A5;
$lightGrey: #E8E8E8;
$darkGrey: #555555;

@import 'bootstrap';

@import 'blacklight/blacklight';

.search-btn {
    border: none;
}

.search-q {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.facet-label {
    text-indent: 0 !important;
    padding-left: 0 !important;
}

.navbar-search {
    padding: 16px;
}

.navbar-white {
    font-weight: 800 !important;
}

.topbar {
    padding: 24px 16px;
    background: linear-gradient(90deg, $primary 0%, $secondary);
}

.navbar-white {
    color: #FFFFFF;
    &:hover {
        color: #FFFFFF;
        text-decoration: none;
    }
}

.home-content {
    padding: 16px;
    background: none;
}

.home-heading {
    margin-bottom: 32px;
}

.small-text {
    font-size: 14px;
    color: $darkGrey;
}

html, body {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Helvetica Neue, sans-serif;
    color: #000000;
    line-height: 1.25;
}

h1, h2 {
    font-family: Roboto Slab, serif;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: 400;
}

.document {
    border-bottom: 1px dotted $lightGrey !important;
}

.search-icon {
    height: 16px;
    width: 16px;
}