@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@600&display=swap');

$primary: #1857b6;
$secondary: #0f3875;
$success: #F4D35E;

@import 'bootstrap';

@import 'blacklight/blacklight';

.search-btn {
    border: none;
}

.search-q {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.facet-label {
    text-indent: 0 !important;
    padding-left: 0 !important;
}

.navbar-search {
    padding: 16px;
}

.topbar {
    padding: 24px 16px;
    background: linear-gradient(90deg, $primary 0%, $secondary);
}

.navbar-white {
    color: #FFFFFF;
    &:hover {
        color: #FFFFFF;
        text-decoration: none;
    }
}

.home-content {
    padding: 16px;
    background: none;
}

.home-heading {
    margin-bottom: 32px;
}

html, body {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Helvetica Neue, sans-serif;
}

h1, h2 {
    font-family: Roboto Slab, -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Helvetica Neue, sans-serif;
}
